
@{
  ViewData["Title"] = "Contact";
}

<div class="row">
  <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
    <h1>Contact</h1>
    <h4>Ask us anything.</h4>
    <hr />
    <p>
      If you have any questions or concerns do not hesitate to reach out! I'll
      answer all questions as soon as I can.
    </p>
    <email address="westonvincze@gmail.com" subject="DogDojo Inquiry">
      <i class="fa fa-envelope"></i> Send me an email.
    </email>
  </div>
</div>