<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <script src="~/lib/jquery/jquery.js"></script>
  <script src="~/lib/bootstrap/js/bootstrap.js"></script>
  <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
  <div class="container">

    <nav class="fixed-top navbar navbar-expand-md navbar-inverse navbar-dark">
      <a href="#" class="navbar-brand">icon_here</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="collapsibleNavbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
          @await Component.InvokeAsync("BreedMenu")
          @await Component.InvokeAsync("DoggieBagSummary")
          <li class="nav-item"><a asp-controller="Contact" asp-action="Index" class="nav-link">Contact</a></li>
          <partial name="_LoginPartial" />
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-3">
        <p class="lead">
          <img class="img-responsive" alt="Dog Dojo" src="~/images/DogDojoLogo.png" />
        </p>
      </div>
      <div class="col-md-9">
        @RenderBody()
      </div>
    </div>
  </div>
  @RenderSection("Scripts", required: false)
</body>
</html>
