
@{
  ViewData["Title"] = "Order Complete";
}

<h1>@ViewBag.CheckoutCompleteMessage</h1>

<hr />

<h3>Thank you for your order, <span class="orange-text">@ViewBag.Name!</span></h3>


<h4>You should recieve your order within 3 business days.</h4>